header {
    background: url(images/pet.webp) 0 0px no-repeat;
    background-size: 1500px;
    height: 400px;
    padding-top: 20px;
    padding-left: 50px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
    color: steelblue;
}
li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
}
li a {
    text-decoration: none;
    font-weight: bold;
}
li a:link {
    color: black;
}
li a:visited {
    color: antiquewhite;
}
li a:hover {
    color: darkgray;
}
li a:active {
    color: #753a30;
}
nav {
    background-color: skyblue;
    height: 50px;
    text-align: center;
    padding-top: 2px;
}
#pets-main {
    text-align: center;
}
main {
    margin: 50px;
}
main h1 {
    color: steelblue;
    font-family: arial;
}
main h3 {
    color: darkslategray;
}
main h4 {
    color: grey;
}
main p {
    color: teal;
}

/* table */

table {
    margin-top: 35px;
    margin-left: 270px;
}
table, caption, th, td {
    border: 1px solid #000;
}
th, td {
    width: 150px;
    height: 35px;
    text-align: center;
}
caption {
    text-transform: uppercase;
    font-weight: 600;
    height: 40px;
    padding-top: 15px;
    color: #125688;
}
label {
    display: block;
    margin: 15px 0 0 0;
}
input {
    width: 300px;
}
input[type="radio"] {
    width: 25px;
}
textarea {
    width: 300px;
}
input[type="submit"] {
    display: block;
    margin: 20px 0 10px 0;
    width: 100px;
}

/* Contact */
p {
    margin-bottom: 30px;
}
.phone span:first-child {
    font-weight: bold;
}
.email span:first-child {
    font-weight: bold;
}
.email {
    margin-top: 10px;
}
fieldset {
    font-weight: bold;
    margin-top: 10px;
    border: solid 2px #125688;
}
fieldset div {
    margin-left: 30px;
}
legend {
    color: #4977D1;
    text-transform: uppercase;
}
label {
    display: block;
    margin: 15px 0 0 0;
}
.radios {
    margin-top: 15px;
    font-weight: normal;
}
.radios label {
    display: inline;
    font-weight: bold;
}
.radios input {
    height: 15px;
}
.selectmenu {
    margin-top: 20px;
}
.selectmenu label {
    display: inline;
}
.selectmenu select {
    width: 150px;
    text-align: center;
}
input {
    width: 600px;
    height: 30px;
}
input[type="radio"] {
    width: 25px;
}
textarea {
    width: 600px;
    height: 240px;
}
input[type="submit"] {
    display: block;
    margin: 15px 0 10px 0;
    width: 150px;
    margin-left: 455px;
    color: #fff;
    font-weight: bold;
    background-color: #4977D1;
    height: 40px;
    border: solid #4977D1;
    font-size: large;

}

/* footer */
footer {
    width: 100%;
    height: 155px;
    background-color: rgb(129, 141, 179);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 1em;
    color:rgb(211, 218, 240);
}
footer .social {
    padding: 2.5em;
    margin-right: 9.25em;
    float: right;
}
footer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}
footer .social .fa:hover {
    opacity: 0.7;
}
footer .social .fa-facebook {
    background: #3B5998;
    color: white;
}
footer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}
footer .social .fa-instagram {
    background: #125688;
    color: white;
}
.logo-footer {
    padding-right: 1150px;
    padding-top: 80px;
}